* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightblue;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: #fff;
    height: 88px;
}

.logo {
    font-size: 32px;
}
.logo:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.menu {
    display: flex;
    gap: 0.5em;
    font-size: 18px;
}
.menu li:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}