:root {
    --main-color: #B9CDDA;
    --highlight-color: #D7DAE5;
    --like: #A5AA52;
    --dislke: #D64933;
    --dim-font: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    background: rgb(185, 205, 218);
    background: linear-gradient(45deg, rgba(185, 205, 218, 1) 0%, rgba(199, 211, 223, 1) 50%, rgba(215, 218, 229, 1) 100%);
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

::placeholder {
    padding: 10px 20px;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background-color: var(--highlight-color);
    height: 44px;
    border-bottom: 2px solid black;
}

.logo {
    font-size: 22px;
    padding-left: 10px;
}

.logo:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.menu {
    display: flex;
    gap: 0.5em;
    font-size: 18px;
}

.menu li:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.menu li {
    padding: 10px 5px;
}

.menu p {
    padding: 10px 0px;
}

/* CONTAINERS */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 5px;
}

.container-post {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: fit-content;
    width: 100%;
    padding: 50px;

}

/* LOGIN CARD */
.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--highlight-color);
    padding: 25px;
}

.login-input {
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 10px 20px;
    background: transparent;
}

.login-input input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.login-input button {
    background: var(--main-color);
    flex: auto;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.login-input button:hover {
    background: var(--highlight-color);
    transition: 0.3s ease;
}

.input-wrapper a {
    text-decoration: underline;
}

/* POST */

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 100%;
    max-width: 700px;
    background-color: var(--highlight-color);
    padding: 10px;
    margin: 10px;
}

.post:hover {
    border: 2px solid var(--main-color);
}

.post-tags-author {
    color: var(--dim-font);
}

.post-image img {
    width: 100%;
    height: auto;
}

.post-comments-likes-dislikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.post-likes-dislikes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-likes-dislikes p {
    margin: 0px 5px;
    font-size: 1em;
}

.post-likes-dislikes .like:hover {
    color: var(--like);
    transform: translateY(-3px);
    transition: 0.3s ease;
    cursor: pointer;
}

.post-likes-dislikes .dislike:hover {
    color: var(--dislke);
    transform: translateY(3px);
    transition: 0.3s ease;
    cursor: pointer;
}

/* SINGLE POST */

.single-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    width: 100vw;
    max-width: 900px;
    background-color: var(--highlight-color);
    padding: 10px;
    margin: 10px;
}

.single-post-author {
    color: var(--dim-font);
    margin: 10px 0;
}

.single-post-content {
    margin: 10px 0;
}
/* COMMENTS */

.commentor-name-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.commentor-name-time p {
    margin: 5px 0;
    color: var(--dim-font);
}

.comment {
    margin: 5px 0;
}

.textbox {
    margin: 10px 0;
}

/* SUBMISSION */

.submission {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: right;
    height: fit-content;
    background: var(--highlight-color);
    padding: 10px;
    margin-top: 20px;
}

.submission input {
    margin: 10px 0;
    width: 100%;
    background: transparent;
    border-style: none;
    border: 1px solid var(--dim-font);
    height: 10%;
    padding: 10px;
    
}

.submission textarea {
    margin: 10px 0;
    width: 100%;
    background: transparent;
    border-style: none;
    border: 1px solid var(--dim-font);
    padding: 10px;
}

.submission-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="file"] {
    display: none;
}

.image-upload {
    margin: 10px 0;
    width: 20%;
    border: 1px solid var(--dim-font);
    padding: 10px;
    cursor: pointer;
}

.image-upload:hover {
    border: 1px solid black;
}

.submission button {
    margin: 10px 0;
    width: 20%;
    background: transparent;
    border-style: none;
    border: 1px solid var(--dim-font);
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
}

.submission button:hover {
    border: 1px solid black;
}