{{ template "header" . }}

<div class="container-filter">
	<div class="filter">
		<button id="mod" onclick="hideShowAdmin(this)" value="mod"><i class="fa-solid fa-hourglass-start"></i>
			Pending
			Mod Requests</button>
	</div>
	<div class="filter">
		<button id="users" onclick="hideShowAdmin(this)" value="users"><i class="fa-solid fa-users"></i>
			Users</button>
	</div>
	<div class="filter">
		<button id="tags" onclick="hideShowAdmin(this)" value="tags"><i class="fa-solid fa-tags"></i>
			Tags</button>
	</div>
</div>

<div id="mod-requests" style="display: block;">
	{{range .AdminRequests}}
	<div class="container-post">
		<div class="post">
			{{.RequestFromId}} {{.RequestFromName}}
			<p>{{.Content}}</p>
			<form action="/admin" method="POST">
				<button class="delete-btn" name="delete request" value="{{.UUID}}">
					delete request
				</button>
				<button class="delete-btn" name="set to moderator" value="{{.RequestFromId}}">
					Set to moderator
				</button>
			</form>
		</div>
	</div>
	{{end}}
</div>

<div id="user-admin" style="display: none;">
	{{range .AllUsers}}
	<div class="container-post">
		<div class="post">
			<p>User name: {{.Name}}</p>
			<p>Permission: {{.Permission}}</p>
			<form action="/admin" method="POST">
				<button class="delete-btn" name="set to user" value="{{.UUID}}">set to user</button>
				<button class="delete-btn" name="set to moderator" value="{{.UUID}}">
					Set to moderator
				</button>
				<button class="delete-btn" name="set to admin" value="{{.UUID}}">set to admin</button>
				<button class="delete-btn" name="delete user" value="{{.UUID}}">delete user</button>
			</form>
		</div>
	</div>
	{{end}}
</div>

<div id="tags-admin" style="display: none;">
	{{range .AllTags}}
	<div class="container-post">
		<div class="post">
			<p>Tag Name: {{.TagName}}</p>
			<form action="/admin" method="POST">
				<button class="delete-btn" name="delete tag" value={{.UUID}}>delete tag</button>
				<button class="delete-btn admin-all-tag-delete" name="delete all posts with tag" value={{.TagName}}>delete all posts with this tag</button>
			</form>
		</div>
	</div>
	{{end}}
</div>

<script src="static/js/hideshowadmin.js"></script>

{{ template "footer"}}