{{ template "header"}}
	<div class="container-post">
		<div class="post"> 
			<a href="/post">
				<div class="post-tags-author">
					<p>#General</p>
				</div>
				<div class="post-title">
					<h2>Look at this amazing photo of Jupiter I took!</h2>
				</div>
				<div class="post-tags-author">
					<p>Author</p>
				</div>
				<div class="post-image">
					<img src="https://images.unsplash.com/photo-1630839437035-dac17da580d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1615&q=80"
						alt="Picture of Juptier">
				</div>
				<div class="post-comments-likes-dislikes">
					<div>
						<p><i class="fa-regular fa-comment"></i> 3 Comments</p>
					</div>
					</div>
				</a>
					<div class="post-likes-dislikes">
						<button class="like"><i class="fa-solid fa-thumbs-up"></i></button>
						<p>0</p>
						<button class="dislike"><i class="fa-solid fa-thumbs-down"></i></button>
						<p>0</p>
					</div>
			</div>
	</div>
	<!-- {{range .ListOfData}} -->
	<!-- <div>
		<div>{{.OwnerId}}</div>
		<div>{{.Content}}</div>
		<div>{{.FormattedTime}}</div>
		<div>{{.Likes}}</div>
		<div>{{.Dislikes}}</div>
	</div>
	<br>
	{{end}}
	<div>
		<form action="/forum" method="post">
			<input type="text" name="post" id="post" />
			<input type="submit" value="Post" />
		</form>
	</div> -->
{{ template "footer"}}