<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
</head>

<body>
	<h1>you are logged in as {{.UserInfo.Name}}</h1>

	{{$Username := .UserInfo.Name}}

	{{range .ListOfData}}
	<div>
		{{ if eq $Username .OwnerId}}
		<h1>THIS IS MY OWN POST</h1>
		<form  method="POST" >
			<button name="delete" value={{.UUID}}>delete</button>
		</form>
		{{end}}
		<div>{{.OwnerId}}</div>
		<div>{{.Content}}</div>
		<div>{{.FormattedTime}}</div>
		<div>{{.Likes}}</div>
		<div>{{.Dislikes}}</div>

	</div>
	<br>



	{{end}}





	<div>
		<form action="/forum" method="post">
			<input type="text" name="post" id="post" />
			<input type="submit" value="submit" />
		</form>
	</div>
</body>

</html>