{{template "header"}}
<div class="container">
	<div class="input-wrapper">
		<div>
			<h1>Log In</h1>
		</div>
		<form action="/login" method="POST">
			<div class="alternative-sign-up">
				<div class="social">
					<h2><i class="fa-brands fa-google"></i></h2>
				</div>
				<div class="social">
					<h2><i class="fa-brands fa-github"></i></h2>
				</div>
				<div class="social">
					<h2><i class="fa-brands fa-facebook"></i></h2>
				</div>
			</div>
			<div class="login-input">
				<label for="user_name"><i class="fa-solid fa-user"></i></label>
				<input type="text" placeholder="Username" name="user_name" autocomplete="off" autofocus/>
			</div>
			<div class="login-input">
				<label for="password"><i class="fa-solid fa-lock"></i></label>
				<input type="password" placeholder="Password" name="password" autocomplete="off" />
			</div>
			<div class="login-input">
				<button type="submit">Log In</button>
			</div>
		</form>
		<p>
			Not Registered?
			<a href="/register">Click Here</a>
		</p>
	</div>
</div>
{{ template "footer"}}