{{ template "header" . }}
    <div class="container-post">
        <div class="single-post">
            <div class="single-post-title">
                <h2>POST TITLE</h2>
            </div>
            <div class="single-post-author">
                <p>Posted by AUTHOR at TIME</p>
            </div>
            <div class="post-image">
                <img src="https://images.unsplash.com/photo-1630839437035-dac17da580d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1615&q=80"
                    alt="Picture of Juptier">
            </div>
            <div class="single-post-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae lectus eu enim fringilla euismod
                    id ut odio. Pellentesque ac dolor ut dolor faucibus mollis nec sed ante. Praesent commodo, quam sed
                    tempor egestas, libero mi interdum velit, vel vestibulum ante metus ultricies turpis. Donec erat
                    tellus, consectetur eu efficitur nec, venenatis in orci. Donec dictum erat a dui dignissim sodales.
                    Vivamus quis nisi ligula. Nulla efficitur est id ullamcorper consequat. Proin viverra est eu purus
                    semper molestie.</p>
            </div>
            <div class="post-comments-likes-dislikes">
                <div>
                    <p><i class="fa-regular fa-comment"></i> 3 Comments</p>
                </div>
                <div class="post-likes-dislikes">
                    <button type="submit" class="like"><i class="fa-solid fa-thumbs-up"></i></button>
                    <p>0</p>
                    <button type="submit" class="dislike"><i class="fa-solid fa-thumbs-down"></i></button>
                    <p>0</p>
                </div>
            </div>
            <form action="/" method="POST">
                <textarea name="comment" id="" cols="30" rows="5" placeholder="Comment" autofocus></textarea>
            </textarea>
            <button type="submit">Comment</button>
            </form>
        </div>
        <div class="single-post">
            <div class="commentor-name-time">
                <p>Author</p>
                <p>12:00</p>
            </div>
            <div class="comment">
                <p>This is a comment</p>
            </div>
            <div class="post-likes-dislikes">
                <button type="submit" class="like"><i class="fa-solid fa-thumbs-up"></i></button>
                <p>0</p>
                <button type="submit" class="dislike"><i class="fa-solid fa-thumbs-down"></i></button>
                <p>0</p>
            </div>
        </div>
    </div>
    </div>
{{template "footer"}}