{{ template "header" . }}
{{$UserInfo := .UserInfo}}
<h1 style="text-align: center;">Category: {{.SubName}}</h1>
<div>
	<form action="/categories/{{.SubName}}" method="post">
	<select name="filter" id="filter">
		<option value="newest">Newest</option>
		<option value="oldest">Oldest</option>
	</select>
	<input type="submit" value="Filter">
</form>
</div>
{{range .ListOfData}}
<div class="container-post">
	<div class="post">
		{{ if or (eq $UserInfo.Name .OwnerId ) (eq $UserInfo.Permission "admin") (eq $UserInfo.Permission "moderator")}}
		<form method="POST">
			<button name="deletepost" value={{.UUID}}>delete</button>
		</form>
		{{end}}
		<a href="/posts/{{.UUID}}">Post</a>
		<div class="post-tags-author">
			<a href="/categories/{{.Tag}}">{{.Tag}}</a>
		</div>
		<div class="post-title">
			<p>{{.FormattedTime}}</p>
			<h2>Look at this amazing photo of Jupiter I took!</h2>
		</div>
		<div class="post-tags-author">
			<p>{{.OwnerId}}</p>
		</div>
		<div class="post-image">
			<div>{{.Content}}</div>
		</div>
		<div class="post-comments-likes-dislikes">
			<div>
				<p><i class="fa-regular fa-comment"></i>{{.NumOfComments}}</p>
			</div>
		</div>
		<form action="/categories/{{.Tag}}" method="post" target="_self">
			<div class="post-likes-dislikes">
				{{if ne $UserInfo.Name "" }}
				<button class="like" name="like" value="{{.UUID}}"><i class="fa-solid fa-thumbs-up"></i></button>
				{{ else }}
				<p><i class="fa-solid fa-thumbs-up"></i></p>
				{{end}}
				<p>{{.Likes}}</p>
				{{if ne $UserInfo.Name "" }}
				<button class="dislike" name="dislike" value="{{.UUID}}"><i
						class="fa-solid fa-thumbs-down"></i></button>
				{{else}}
				<p><i class="fa-solid fa-thumbs-down"></i></p>
				{{end}}
				<p>{{.Dislikes}}</p>
			</div>
		</form>
	</div>
</div>
<br>
{{end}}

{{template "footer"}}