<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

{{template "header"}}
<div class="container-post">
    <div class="submission">
        <h2>Create a post</h2>
        <form action="/forum" method="POST">
            <input type="text" name="submission-title" placeholder="Title" autocomplete="off" autofocus>
            <textarea name="submission-content" id="" cols="30" rows="10" placeholder="Text (optional)"></textarea>
            <input type="text" name="submission-tags" placeholder="Tags (#General etc.)">
            <div class="submission-bottom-row">
                <label for="file-upload" class="image-upload">
                    <i class="fa-solid fa-image"></i> Upload Image
                </label>
                <input id="file-upload" name="submission-image" type="file" accept="image/jpeg, image/png, image/gif"/>
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
{{template "footer"}}