{{ define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/static/stylesheets/styles.css">
	<title>{{.TitleName}}</title>
</head>

<body>
	{{$UserInfo := .UserInfo}}
	<nav class="navbar">
		<!-- LOGO -->
		<div class="logo"><a accesskey="h" href="/">F<i class="fa-regular fa-comment"></i>rum</a></div>
		<!-- SEARCHBAR & CREATE -->
		<form class="searchbar" action="/" method="POST">
			<input type="text" placeholder="Search Forum" name="search" id="searchInput" autocomplete="off">
			<button type="submit">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
			{{if not .}}
			{{else if ne $UserInfo.Name ""}}
			<div class="create">
				<a href="/submitpost"><i class="fa-solid fa-plus"></i> Create</a>
			</div>
			{{end}}
		</form>
		<!-- MENU -->
		{{if not .}}
		<div class="menu">
			<li><a accesskey="a" href="/login">Sign in</a></li>
			<p>|</p>
			<li><a accesskey="a" href="/register">Sign up</a></li>
		</div>
		{{else if eq $UserInfo.Name "" }}
		<div class="menu">
			<li><a accesskey="a" href="/login">Sign in</a></li>
			<p>|</p>
			<li><a accesskey="a" href="/register">Sign up</a></li>
		</div>
		{{else}}
		<div class="menu">
			<li><a href="/forum"><i class="fa-solid fa-user"></i> {{$UserInfo.Name}}</a></li>
			<div class="dropdown">
				<button class="dropbtn">
					<i class="fa-solid fa-circle-chevron-down"></i>
				</button>
				<div class="dropdown-content">
					<div class="dropdown-content-links">
						<a href="/user">Profile</a>
					</div>
					<div class="dropdown-content-links">
						<form action="/user" method="POST">
							<button name="request to become moderator" value={{$UserInfo.UUID}}>Become a moderator?</button>
						</form>
					</div>
					{{ if eq $UserInfo.Permission "admin"}}
					<div class="dropdown-content-links">
						<a href="/admin">admin tools</a>
					</div>
					{{end}}
					<div class="dropdown-content-links">
						<a href="/logout">Sign out <i class="fa-solid fa-right-from-bracket"></i></a>
					</div>
				</div>
			</div>
		</div>
		{{end}}
	</nav>
	{{end}}

	{{ define "footer"}}
	<footer>

	</footer>
</body>

</html>
{{end}}