{{template "header" .}}
{{$UserInfo := .UserInfo}}
<div class="container-filter">
    <div class="filter">
        <button onclick="hideShow()"><i class="fa-solid fa-signs-post"></i> Your posts</button>
    </div>
    <div class="filter">
        <button onclick="hideShow()"><i class="fa-solid fa-message"></i> Your comments</button>
    </div>
</div>
<div id="user-posts" style="display: block;">
    {{range .UserPosts}}
    <div class="container-post">
        <div class="post">
            {{ if or (eq $UserInfo.Name .OwnerId ) (eq $UserInfo.Permission "admin") (eq $UserInfo.Permission
            "moderator")}}
            <form method="POST">
                <button class="delete-btn" name="deletepost" value={{.UUID}}>Delete</button>
            </form>
            {{end}}
            <div class="post-tags">
                <a class="tag-link" href="/categories/{{.Tag}}">{{.Tag}}</a>
            </div>
            <div class="post-info">
                <a href="/posts/{{.UUID}}">
                    <div class="post-author-time">
                        <p>Posted by {{.OwnerId}} on {{.FormattedTime}}</p>
                    </div>
                    <div class="post-title">
                        <h2>{{.Title}}</h2>
                    </div>
                    <div class="post-image">
                        <div>IMG</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-text">{{.Content}}</div>
                    </div>
                    <div class="post-comments-likes-dislikes">
                        <div>
                            <p><i class="fa-regular fa-comment"></i> {{.NumOfComments}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <form action="/forum" method="post" target="_self">
                <div class="post-likes-dislikes">
                    {{if ne $UserInfo.Name "" }}
                    <button class="like" name="like" value="{{.UUID}}"><i class="fa-solid fa-thumbs-up"></i></button>
                    {{ else }}
                    <p><i class="fa-solid fa-thumbs-up"></i></p>
                    {{end}}
                    <p>{{.Likes}}</p>
                    {{if ne $UserInfo.Name "" }}
                    <button class="dislike" name="dislike" value="{{.UUID}}"><i
                            class="fa-solid fa-thumbs-down"></i></button>
                    {{else}}
                    <p><i class="fa-solid fa-thumbs-down"></i></p>
                    {{end}}
                    <p>{{.Dislikes}}</p>
                </div>
            </form>
        </div>
    </div>
    {{end}}
</div>

<div id="user-comments" style="display: none;">
    <h1>Your Comments</h1>
    {{range .UserComments}}
    <div class="container-post">
        <div class="post">
            <h1>does this show?</h1>
            <form method="POST">
                <button class="delete-btn" name="deletepost" value={{.UUID}}>Delete</button>
            </form>
            <div>{{.OwnerId}}</div>
            <div>{{.Content}}</div>
            <div>replying to : {{.PostId}}</div>
        </div>
    </div>
    {{end}}
</div>
<script src="static/js/hideshow.js"></script>

{{template "footer"}}