<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{$User := .User}}
    <h1>Request to Become a moderator</h1>
    <form action="/user" method="POST">
        <button name="request to become moderator" value={{$User.UUID}}>request</button>
    </form>

    <h1>Your Posts</h1>
    {{range .UserPosts}}
    <div>
        <form action="/user" method="POST">
            <button name="deletepost" value={{.UUID}}>delete</button>
        </form>
        <div>{{.OwnerId}}</div>
        <div>{{.Content}}</div>
        <div>{{.FormattedTime}}</div>
        <div>{{.Likes}}</div>
        <div>{{.Dislikes}}</div>
    </div>
    <br>
    {{end}}

    <h1>Your Comments</h1>
    {{range .UserComments}}
    <div>
        <form action="/user" method="POST">
            <button name="deletecomment" value={{.UUID}}>delete</button>
        </form>
        <div>{{.OwnerId}}</div>
        <div>{{.Content}}</div>
        <div>replying to : {{.PostId}}</div>
    </div>
    <br>
    {{end}}
</body>

</html>